FACEIT_API_KEY=
FACEIT_API_URL=https://open.faceit.com/data/v4
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://apex:apex@localhost:5432/apex_stats
NEXT_PUBLIC_API_URL=http://localhost:4000
