VIDEOS_COLLECTOR_DB_PATH=../output/youtube_ingest/tournaments.sqlite
VIDEOS_COLLECTOR_RECORDS_DIR=../ffmpeg_downloader/records
VIDEOS_COLLECTOR_MAP_START_DB_PATH=../output/map_start_detection.sqlite

# Optional:
# VIDEOS_COLLECTOR_COOKIES_FILE=./youtube_cookies.txt
